extends user_head

block content
  .container.container-main.container-home.padding-nav(style="padding-top: 100px;")
    .panel.panel-default
      .panel-heading
        .row
          .col-md-6
            h2(style="color: #008584; margin-top: 10px;") #{deviceName}
          //- .col-md-6(style='text-align: right;')
          //-   a.btn.btn-flat.btn-link.btn-link-style(href='/loginPage/logout', style='color: #008584;') Logout

      if deviceType == 'Both'
        if allMessageToGraph.publish.length > 0 || allMessageToGraph.subscribe.length > 0
          .panel-body#chartdiv
      else if allMessageToGraph.length > 0 
        .panel-body#chartdiv


      //- .panel-body
      //-   .btn-group
      //-     a.btn.btn-primary.btn-raised(href='javascript:void(0)') History Topic
      //-     a.btn.btn-primary.btn-raised.dropdown-toggle(data-target='#', data-toggle='dropdown')
      //-       span.caret
      //-     ul.dropdown-menu#historySub
      //-       each sub in subscribe
      //-         li
      //-           p= sub
      //-           button.close(type='button', onclick="deleteHistoryTopic($(this))", data-topic= sub, data-deviceId="#{deviceId}" aria-hidden='true' style='position: absolute; right: 7px; top: 0px;') ×
      .panel-body
        table.table.table-striped.table-hover
          thead
            tr
              th Type
              th Topic
              th Payload
              th Time
          tbody#tbody
            if deviceType == 'Both'
              each device_message in allMessage['publish']
                tr
                  td Publish
                  td= device_message.topic
                  td= device_message.payload
                  td.date= device_message.date
              each device_message in allMessage['subscribe']
                tr
                  td Subscribe
                  td= device_message.topic
                  td= device_message.payload
                  td.date= device_message.date
            else if deviceType == 'Publisher'
              if allMessage.length > 0
                each device_message in allMessage
                  tr
                    td Publish
                    td= device_message.topic
                    td= device_message.payload
                    td.date= device_message.date
            else
              if allMessage.length > 0
                each device_message in allMessage
                  tr
                    td Subscribe
                    td= device_message.topic
                    td= device_message.payload
                    td.date= device_message.date


  script(src='/javascripts/moment/moment.js')
  script(src='/javascripts/moment/moment-with-locales.min.js')
  script(src='/javascripts/lodash/lodash.js')
  script(src='/javascripts/randomColor.js')
  script.
    $(document).ready(function(){
      moment.locale('th');
      $.each($(".date"),function(){
        $(this).text(moment($(this).text()).format('LLL'))
      });
    })

    function getSubscribe(deviceId){
      var subTopic = $.ajax({
        type:"POST",
        url: "/user/getSubscribe",
        async: false,
        data:{
          deviceId: deviceId
        }
      })
      return subTopic.responseJSON.subscribe;
      console.log(subTopic.responseJSON.subscribe);
    }

    var allMessage = !{JSON.stringify(allMessage)};
    var allMessageToGraph = !{JSON.stringify(allMessageToGraph)};
    var deviceId = "#{deviceId}";
    var deviceType = "#{deviceType}";
    var deviceStatus = "#{deviceStatus}";
    var category = "#{category}";
    var subscribe = "#{subscribe}";
    var subTopic;
    var socket = io('http://neutron.it.kmitl.ac.th:5000');
    var sk = io('http://neutron.it.kmitl.ac.th:5000');
    var socketId;
    
    // console.log(allMessage);
    console.log(deviceType);
    console.log(category);
    
    function connectSocket(subTopic){
      sk.close();
      sk = io('http://neutron.it.kmitl.ac.th:5000');
      if(subTopic.length > 0){
        for(var i=0; i < subTopic.length; i++){
          sk.on(subTopic[i], function(message){
            $('#tbody').prepend('<tr>'+
                                '<td>Subscribe</td>'+
                                '<td>'+message.topic+'</td>'+
                                '<td>'+message.payload+'</td>'+
                                '<td class=date>'+moment(message.date).format('LLL')+'</td>'+
                              '</tr>');
            console.log(message);
            console.log(subTopic);
          })
        }
      }
    }

    socket.on("send id", function(data){
      socketId = data;
      console.log("Socket connected : " + data);
    })


    if(deviceType == 'Publisher'){
      socket.on(deviceId, function(message){
        $('#tbody').prepend('<tr>'+
                              '<td>Publish</td>'+
                              '<td>'+message.topic+'</td>'+
                              '<td>'+message.payload+'</td>'+
                              '<td class=date>'+moment(message.date).format('LLL')+'</td>'+
                            '</tr>');
        
        console.log(message.topic);
      })
    }else if(deviceType == 'Subscriber'){
      console.log(deviceStatus);
      if(deviceStatus == 'connect'){
        // connect before this page
          subTopic = getSubscribe(deviceId);

          socket.on('subtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic);
            // var index = _.findIndex(subTopic,function(o){ return o==data.topic;});
            // if(index != -1){
            //   $('#historySub').append('<li>'+
            //                           '<p>'+data.topic+'</p>'+
            //                           '<button class="close" type="button" onclick="deleteHistoryTopic($(this))" data-topic="'+data.topic+'" data-deviceId="'+data.deviceId+'" aria-hidden="true" style="position: absolute; right: 7px; top: 0px;"> × </button>'+
            //                         '</li>');
            // }
            console.log(subTopic);
          })

          socket.on('unsubtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic)
            console.log(subTopic);
          })

          connectSocket(subTopic)

        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic);
              // var index = _.findIndex(subTopic,function(o){ return o==data.topic;});
              // if(index != -1){
              //   $('#historySub').append('<li>'+
              //                           '<p>'+data.topic+'</p>'+
              //                           '<button class="close" type="button" onclick="deleteHistoryTopic($(this))" data-topic="'+data.topic+'" data-deviceId="'+data.deviceId+'" aria-hidden="true" style="position: absolute; right: 7px; top: 0px;"> × </button>'+
              //                         '</li>');
              // }
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic);

            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
        // connect after this page
      }else{
        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic);
              // var index = _.findIndex(subTopic,function(o){ return o==data.topic;});
              // if(index != -1){
              //   $('#historySub').append('<li>'+
              //                           '<p>'+data.topic+'</p>'+
              //                           '<button class="close" type="button" onclick="deleteHistoryTopic($(this))" data-topic="'+data.topic+'" data-deviceId="'+data.deviceId+'" aria-hidden="true" style="position: absolute; right: 7px; top: 0px;"> × </button>'+
              //                         '</li>');
              // }
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic)
            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
      }
    }else{
      // Type Both
      socket.on(deviceId, function(message){
        $('#tbody').prepend('<tr>'+
                              '<td>Publish</td>'+
                              '<td>'+message.topic+'</td>'+
                              '<td>'+message.payload+'</td>'+
                              '<td class=date>'+moment(message.date).format('LLL')+'</td>'+
                            '</tr>');
        
        console.log(message.topic);
      })

      console.log(deviceStatus);
      if(deviceStatus == 'connect'){
        // connect before this page
          subTopic = getSubscribe(deviceId);

          socket.on('subtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic);
            // var index = _.findIndex(subTopic,function(o){ return o==data.topic;});
            // if(index != -1){
            //   $('#historySub').append('<li>'+
            //                           '<p>'+data.topic+'</p>'+
            //                           '<button class="close" type="button" onclick="deleteHistoryTopic($(this))" data-topic="'+data.topic+'" data-deviceId="'+data.deviceId+'" aria-hidden="true" style="position: absolute; right: 7px; top: 0px;"> × </button>'+
            //                         '</li>');
            // }
            console.log(subTopic);
          })

          socket.on('unsubtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic)
            console.log(subTopic);
          })

          connectSocket(subTopic)

        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic);
              // var index = _.findIndex(subTopic,function(o){ return o==data.topic;});
              // if(index != -1){
              //   $('#historySub').append('<li>'+
              //                           '<p>'+data.topic+'</p>'+
              //                           '<button class="close" type="button" onclick="deleteHistoryTopic($(this))" data-topic="'+data.topic+'" data-deviceId="'+data.deviceId+'" aria-hidden="true" style="position: absolute; right: 7px; top: 0px;"> × </button>'+
              //                         '</li>');
              // }
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic);

            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
        // connect after this page
      }else{
        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic);
              // var index = _.findIndex(subTopic,function(o){ return o==data.topic;});
              // if(index != -1){
              //   $('#historySub').append('<li>'+
              //                           '<p>'+data.topic+'</p>'+
              //                           '<button class="close" type="button" onclick="deleteHistoryTopic($(this))" data-topic="'+data.topic+'" data-deviceId="'+data.deviceId+'" aria-hidden="true" style="position: absolute; right: 7px; top: 0px;"> × </button>'+
              //                         '</li>');
              // }
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic)
            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
      }
    }

    var win = $(window);
    var skip = 2;
    // Each time the user scrolls
    win.scroll(function() {
      // End of the document reached?
      if ($(document).height() - win.height() == win.scrollTop()) {
        $.ajax({
          url: '/user/getData',
          type: 'POST',
          data:{
            email: "#{session.email}",
            deviceId: deviceId,
            skip: skip
          },
          success: function(message) {
            console.log(message.deviceType);
            if(message.deviceType == 'Publisher'){
              if(message.allMessage.length > 0){
                for (var i = 0; i < message.allMessage.length; i++) {
                  $('#tbody').append('<tr>'+
                                      '<td>Publish</td>'+
                                      '<td>'+message.allMessage[i].topic+'</td>'+
                                      '<td>'+message.allMessage[i].payload+'</td>'+
                                      '<td class=date>'+moment(message.allMessage[i].date).format('LLL')+'</td>'+
                                    '</tr>');
                  console.log(message.allMessage[i].payload);
                }
              }
            }else if(message.deviceType == 'Subscriber'){
              if(message.allMessage.length > 0){
                for (var i = 0; i < message.allMessage.length; i++) {
                  $('#tbody').append('<tr>'+
                                      '<td>Subscribe</td>'+
                                      '<td>'+message.allMessage[i].topic+'</td>'+
                                      '<td>'+message.allMessage[i].payload+'</td>'+
                                      '<td class=date>'+moment(message.allMessage[i].date).format('LLL')+'</td>'+
                                    '</tr>');
                  console.log(message.allMessage[i].payload);
                }
              }
            }else{
              if(message.allMessage['publish'].length > 0){
                for (var i = 0; i < message.allMessage['publish'].length; i++) {
                  $('#tbody').append('<tr>'+
                                      '<td>Publish</td>'+
                                      '<td>'+message.allMessage['publish'][i].topic+'</td>'+
                                      '<td>'+message.allMessage['publish'][i].payload+'</td>'+
                                      '<td class=date>'+moment(message.allMessage['publish'][i].date).format('LLL')+'</td>'+
                                    '</tr>');
                }
              }

              if(message.allMessage['subscribe'].length > 0){
                for (var i = 0; i < message.allMessage['subscribe'].length; i++) {
                  $('#tbody').append('<tr>'+
                                      '<td>Subscribe</td>'+
                                      '<td>'+message.allMessage['subscribe'][i].topic+'</td>'+
                                      '<td>'+message.allMessage['subscribe'][i].payload+'</td>'+
                                      '<td class=date>'+moment(message.allMessage['subscribe'][i].date).format('LLL')+'</td>'+
                                    '</tr>');
                }
              }
            }
            skip = skip + 2;
            console.log(skip);
          }
        });
      }
    });

  script(src='/javascripts/amcharts/amcharts.js')
  script(src='/javascripts/amcharts/serial.js')
  script(src='/javascripts/amcharts/themes/dark.js')
  script(src='/javascripts/deviceChart.js')