extends user_head

block content
  .container.container-main.container-home.padding-nav
    .panel.panel-default
      .panel-heading
        .row
          .col-md-6
            h2(style="color: #008584; margin-top: 10px;") #{deviceName}
          .col-md-6(style='text-align: right;')
            a.btn.btn-flat.btn-link.btn-link-style(href='/loginPage/logout', style='color: #008584;') Logout

      if allMessageToGraph.length > 0
        .panel-body#chartdiv

      .panel-body
        table.table.table-striped.table-hover
          thead
            tr
              th Type
              th Topic
              th Payload
              th Time
          tbody#tbody
            if deviceType == 'Both'
              each device_message in allMessage['publish']
                tr
                  td Publish
                  td= device_message.topic
                  td= device_message.payload
                  td.date= device_message.date
              each device_message in allMessage['subscribe']
                tr
                  td Subscribe
                  td= device_message.topic
                  td= device_message.payload
                  td.date= device_message.date
            else if deviceType == 'Publisher'
              if allMessage.length > 0
                each device_message in allMessage
                  tr
                    td Publish
                    td= device_message.topic
                    td= device_message.payload
                    td.date= device_message.date
            else
              if allMessage.length > 0
                each device_message in allMessage
                  tr
                    td Subscribe
                    td= device_message.topic
                    td= device_message.payload
                    td.date= device_message.date


  script(src='/javascripts/moment/moment.js')
  script(src='/javascripts/moment/moment-with-locales.min.js')
  script(src='/javascripts/lodash/lodash.js')
  script(src='/javascripts/randomColor.js')
  script.
    $(document).ready(function(){
      moment.locale('th');
      $.each($(".date"),function(){
        $(this).text(moment($(this).text()).format('LLL'))
      });
    })

    function getSubscribe(deviceId){
      var subTopic = $.ajax({
        type:"POST",
        url: "/user/getSubscribe",
        async: false,
        data:{
          deviceId: deviceId
        }
      })
      return subTopic.responseJSON.subscribe;
      console.log(subTopic.responseJSON.subscribe);
    }

    var allMessage = !{JSON.stringify(allMessage)};
    var allMessageToGraph = !{JSON.stringify(allMessageToGraph)};
    var deviceId = "#{deviceId}";
    var deviceType = "#{deviceType}";
    var deviceStatus = "#{deviceStatus}";
    var category = "#{category}";
    var subTopic;
    var socket = io('http://neutron.it.kmitl.ac.th:5000');
    var sk = io('http://neutron.it.kmitl.ac.th:5000');
    
    // console.log(allMessage);
    console.log(deviceType);
    console.log(category);
    
    function connectSocket(subTopic){
      sk.close();
      sk = io('http://neutron.it.kmitl.ac.th:5000');
      if(subTopic.length > 0){
        for(var i=0; i < subTopic.length; i++){
          sk.on(subTopic[i], function(message){
            $('#tbody').prepend('<tr>'+
                                '<td>Subscribe</td>'+
                                '<td>'+message.topic+'</td>'+
                                '<td>'+message.payload+'</td>'+
                                '<td class=date>'+moment(message.date).format('LLL')+'</td>'+
                              '</tr>');
            console.log(message);
            console.log(subTopic);
          })
        }
      }
    }

    socket.on("send id", function(data){
      console.log("Socket connected : " + data);
    })


    if(deviceType == 'Publisher'){
      socket.on(deviceId, function(message){
        $('#tbody').prepend('<tr>'+
                              '<td>Publish</td>'+
                              '<td>'+message.topic+'</td>'+
                              '<td>'+message.payload+'</td>'+
                              '<td class=date>'+moment(message.date).format('LLL')+'</td>'+
                            '</tr>');
        
        console.log(message.topic);
      })
    }else if(deviceType == 'Subscriber'){
      console.log(deviceStatus);
      if(deviceStatus == 'connect'){
        // connect before this page
          subTopic = getSubscribe(deviceId);

          socket.on('subtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic)
            console.log(subTopic);
          })

          socket.on('unsubtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic)
            console.log(subTopic);
          })

          connectSocket(subTopic)

        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic);

            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
        // connect after this page
      }else{
        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic)
            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
      }
    }else{
      // Type Both
      socket.on(deviceId, function(message){
        $('#tbody').prepend('<tr>'+
                              '<td>Publish</td>'+
                              '<td>'+message.topic+'</td>'+
                              '<td>'+message.payload+'</td>'+
                              '<td class=date>'+moment(message.date).format('LLL')+'</td>'+
                            '</tr>');
        
        console.log(message.topic);
      })

      console.log(deviceStatus);
      if(deviceStatus == 'connect'){
        // connect before this page
          subTopic = getSubscribe(deviceId);

          socket.on('subtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic)
            console.log(subTopic);
          })

          socket.on('unsubtopic', function(data){
            subTopic = getSubscribe(deviceId);
            connectSocket(subTopic)
            console.log(subTopic);
          })

          connectSocket(subTopic)

        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic);

            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
        // connect after this page
      }else{
        socket.on("deviceStatus", function(data){
          if(data.deviceStatus[deviceId] == 'connect'){
            subTopic = getSubscribe(deviceId);

            socket.on('subtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            socket.on('unsubtopic', function(data){
              subTopic = getSubscribe(deviceId);
              connectSocket(subTopic)
              console.log(subTopic);
            })

            connectSocket(subTopic)
            console.log(data.deviceStatus[deviceId]);
          }else{
            sk.close();
            console.log(data.deviceStatus[deviceId]);
          }
        })
      }
    }

  script(src='/javascripts/amcharts/amcharts.js')
  script(src='/javascripts/amcharts/serial.js')
  script(src='/javascripts/amcharts/themes/dark.js')
  script(src='/javascripts/deviceChart.js')