extends user_info

block project
  a.btn-back-project(href="/user") Back To Select Project
  .panel.panel-default(id="#{projectId}")
    .panel.panel-default.panel-project(style="height: auto")
      .panel-heading.panel-head-project.panel-head-project-des
        //- .row
        //-   i.mdi.mdi-settings.edit-icon#editProject(style='padding-right: 20px', onclick='editProject($(this))', data-projectId= "#{projectId}", data-projectName = "#{projectName}" , data-projectDescription = "#{projectDescription}")
        .row
          .col-md-12
            input(type="hidden",name="projectId",value="#{projectId}", data-projectName = "#{projectName}", data-projectDescription = "#{projectDescription}")
            button.btn-projectName2(href="/user/project", type='submit')
              p.p-project-name.projectName.break-word(style="padding-bottom: 10px; margin-top: 40px;") #{projectName}
      .panel-body
        label.p-project-des.projectDescription.break-word Description :  #{projectDescription}

block panel
  //- .container.container-main.container-home.padding-nav.en-font(style="padding-top: 100px;")
  //-   .row
  //-     .col-md-4
  //-       .panel.panel-default
  //-         .panel-body(style="color: #4d4d4d; height: 100%;")
  //-           .row
  //-             .col-md-12
  //-               h3(style="color: #008584") User info
  //-           .row
  //-             .col-md-7
  //-               label.field-label Username for Broker : 
  //-             .col-md-5
  //-               label.field-label #{usernameBroker}
  //-           .row
  //-             .col-md-7
  //-               label.field-label Password for Broker : 
  //-             .col-md-5
  //-               label.field-label #{passwordBroker}
  //-           .row
  //-             .col-md-7
  //-               label.field-label Plan :
  //-             .col-md-5
  //-               label.field-label Free
  //-           .row
  //-             .col-md-7
  //-               label.field-label Thing : 
  //-             .col-md-5
  //-               label.field-label 0 / 10
  //-           .row
  //-             .col-md-12f
  //-               label.field-label Message :
  //-           .row(style="padding-left: 20px")
  //-             .col-md-3
  //-               label.field-label Max :
  //-             .col-md-9
  //-               label.field-label 500,000
  //-           .row(style="padding-left: 20px")
  //-             .col-md-3
  //-               label.field-label Used :
  //-             .col-md-9
  //-               label.field-label 0
  //-     .col-md-8
  .panel.panel-default
    .panel-body
      .row(style="padding-bottom: 20px")
        .col-lg-9.col-md-8.col-sm-7
          p.p-project-head.ellipsis Project / #{projectName}
        .col-lg-3.col-md-4.col-sm-5.col-xs-12
          a.btn-addDevice(type="button", data-toggle="modal", data-target="#saveDeviceModal") Add Thing
            i.mdi.mdi-add-circle-outline.add-icon

      .row#allDevices_panel
        if allDevices.length > 0
          each device_val in allDevices
            if device_val.project_id == projectId
              .col-md-4.col-sm-6.col-dashboard(id="#{device_val.device_id}")
                .panel.panel-default.panel-device.panel-hover
                  .panel-heading.panel-head-device
                    form(method="post", action="/user/device")
                      .row
                        button.close.close-icon#deleteDeviceButton(type='button', aria-hidden='true',onclick='deleteDevice($(this))', data-deviceId= "#{device_val.device_id}" ) ×
                        i.mdi.mdi-settings.edit-icon#editDevice(onclick='editDevice($(this))', data-deviceId= "#{device_val.device_id}", data-deviceName = "#{device_val.device_name}" , data-deviceDescription = "#{device_val.device_description}")
                        if device_val.status == 'disconnect'
                          i.mdi.mdi-brightness-1.show-status.disconnected#showStatus(data-toggle="tooltip", data-placement="right", data-original-title="Disconnected", data-deviceId="#{device_val.device_id}")
                        else if device_val.status == 'connect'
                          i.mdi.mdi-brightness-1.show-status.connected#showStatus(data-toggle="tooltip", data-placement="right", data-original-title="Connected", data-deviceId="#{device_val.device_id}")
                        label.device-type= device_val.device_type
                      .row
                        .col-md-12
                          input(type="hidden",name="deviceId",value="#{device_val.device_id}", data-deviceName = "#{device_val.device_name}" , data-deviceDescription = "#{device_val.device_description}")
                          button.btn-deviceName(type='submit')
                            p.p-device-name.ellipsis.deviceName= device_val.device_name
                  .panel-body.panel-des-device
                    //- label Status :
                    //-     label(data-deviceId="#{device_val.device_id}")= device_val.status
                    //- br
                    .row
                      .col-md-12
                        label Client ID : 
                          = device_val.device_id
                    .row
                      .col-md-12
                        label.ellipsis.p-device-des.deviceDescription Description : 
                          = device_val.device_description

  #saveDeviceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Add Devices
          .modal-body(style='padding: 20px 20px 20px 20px')
            .form-group
              label.control-label Device Name
              input#deviceName.form-control(type='text', name='deviceName')
            .form-group
              label.control-label Device Description
              input#deviceDescription.form-control(type='text', name='deviceDescription')
            .form-group
              label.control-label Device Type
              .radio.radio-primary
                label
                  input.deviceType(type='radio', value='Publisher', name='deviceType' checked)
                  |  Publisher
                label
                  input.deviceType(type='radio', value='Subscriber', name='deviceType')
                  |  Subscriber
                label
                  input.deviceType(type='radio', value='Both', name='deviceType')
                  |  Both
            .form-group
              label.control-label Category
              .radio.radio-primary
                label
                  input.Category(type='radio', value='Sensor', name='Category' checked)
                  |  Sensor value
                label
                  input.Category(type='radio', value='Message', name='Category')
                  |  Message
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#saveDevice.btn.btn-primary(type='button', data-projectId="#{projectId}") Ok

  script.
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });

    var socket = io('http://neutron.it.kmitl.ac.th:5000');
    socket.on("send id", function(data){
      console.log("Socket connected : " + data);
    })

    socket.on("deviceStatus", function(message){
      console.log(message);
      var clientId = message["clientId"];
      var status = message["deviceStatus"][clientId];
      var showStatus = $('#showStatus[data-deviceId="'+clientId+'"]');
      //- $('label[data-deviceId="'+clientId+'"]').text(status);
      if (status == 'connect') {
        showStatus.removeClass('disconnected');
        showStatus.addClass('connected');
        showStatus.attr('data-original-title', 'Connected');
      }
      else if (status == 'disconnect') {
        showStatus.removeClass('connected');
        showStatus.addClass('disconnected');
        showStatus.attr('data-original-title', 'Disconnected');
      }
      console.log("Client event msg from Server : " + status);
      //- socket.emit("deviceStatus", "From Client : " + message);
    })

    socket.on("restartServer", function(status){
      $('label[data-deviceId]').text(status);
      console.log('restart : ' + status)
    })