extends layout

block content
  .container.container-main.container-home.padding-nav
    .panel.panel-default
      .panel-heading
        .row
          .col-md-6
            h2(style="color: #008584; margin-top: 10px;") #{session.email}
          .col-md-6(style='text-align: right;')
            a.btn.btn-flat.btn-link.btn-link-style(href='/loginPage/logout', style='color: #008584;') Logout
      .panel-body
        .row
          .col-md-6
            label.field-label Username for Broker : #{usernameBroker}
          .col-md-6 
            label.field-label Password for Broker : #{passwordBroker}

      //- Add Project
      .panel-body.project-panel
        .row
          .col-md-6
            button.btn.btn-flat.btn-link.btn-link-style(type="button", style='color: #008584;', data-toggle="modal", data-target="#saveProjectModal") Add Projects
        .row#allProjects_panel
          each project_val in allProjects
            .col-md-4(id="#{project_val.project_id}")
              .panel.panel-default
                .panel-heading
                  .row
                    form.col-md-8(method="post", action="/user/project")
                      input(type="hidden",name="projectId",value="#{project_val.project_id}")
                      button.btn-projectName(type='submit')
                        h3.projectName= project_val.project_name
                    .col-md-4(style = "text-align: right; display: block")
                      button.btn.btn-raised.btn-xs#editProject(style="margin: 10px 10px 10px 10px", onclick='editProject($(this))', data-projectId= "#{project_val.project_id}", data-projectName = "#{project_val.project_name}" , data-projectDescription = "#{project_val.project_description}") Edit
                      button.close(type='button', aria-hidden='true',onclick='deleteProject($(this))', data-projectId= "#{project_val.project_id}" ) ×
                .panel-body
                  label.projectDescription= project_val.project_description



  #saveProjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Add Projects
          .modal-body(style='padding: 20px 20px 20px 20px')
            .form-group
              label.control-label Project Name
              input#projectName.form-control(type='text', name='projectName')
            .form-group
              label.control-label Project Description
              input#projectDescription.form-control(type='text', name='projectDescription')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#saveProject.btn.btn-primary(type='button') Ok
