extends user_head

block content
  .container.container-main.container-home.container-user(style="padding-top: 100px;")
    //- .panel.panel-default.panel-user
    //-   .panel-heading.panel-user
    //-     .row
    //-       .col-md-6
    //-         h2(style="color: #008584; margin-top: 10px;") User Info
    .row
      .col-md-4
        .panel.panel-default
          .panel-body(style="color: #4d4d4d; height: 100%;")
            .row
              .col-md-12
                h4(style="color: #008584") User info
            .row
              .col-md-7
                label.field-label Username for Broker : 
              .col-md-5
                label.field-label #{usernameBroker}
            .row
              .col-md-7
                label.field-label Password for Broker : 
              .col-md-5
                label.field-label #{passwordBroker}
              
      .col-md-8
        .panel.panel-default
          .panel-body
            .row
              .col-md-12
                h4(style="color: #008584; height: 100%") Dashboard
    .panel.panel-default
      .panel-heading
        .row
          .col-md-6
            h2(style="color: #008584; margin-top: 10px;") #{session.email}
          .col-md-6(style='text-align: right;')
            a.btn.btn-flat.btn-link.btn-link-style(href='/loginPage/logout', style='color: #008584;') Logout
      .panel-body
        .row
          .col-md-6
            label.field-label Username for Broker : #{usernameBroker}
          .col-md-6 
            label.field-label Password for Broker : #{passwordBroker}
            
      //- Add devices panel Don't touch olo
      .panel-body
        .row
          .col-md-6
            button.btn.btn-flat.btn-link.btn-link-style(type="button", style='color: #008584;', data-toggle="modal", data-target="#saveDeviceModal") Add Things
        .row#allDevices_panel
          each device_val in allDevices
            .col-md-4(id="#{device_val.device_id}")
              .panel.panel-default
                .panel-heading
                  .row
                    .col-md-6
                      h3= device_val.device_name
                    .col-md-6(style = "text-align: right; display: block")
                      label Status :
                      label(data-device="#{device_val.device_id}")= device_val.status
                      button.close(type='button', aria-hidden='true',onclick='removeDevice($(this))', data-device= "#{device_val.device_id}" ) ×
                .panel-body
                  p ClientId : 
                    = device_val.device_id
                  p= device_val.device_description

  #saveDeviceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Add Devices
          .modal-body(style='padding: 20px 20px 20px 20px')
            .form-group
              label.control-label Device Name
              input#deviceName.form-control(type='text', name='deviceName')
            .form-group
              label.control-label Device Description
              input#deviceDescription.form-control(type='text', name='deviceDescription')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#saveDevice.btn.btn-primary(type='button') Save changes

  script.
    var socket = io('http://10.50.8.27:5000');
    socket.on("connect", function(socket){
      console.log("Socket connected");
    })

    socket.on("deviceStatus", function(message){
      var clientId = message["clientId"];
      var status = message["deviceStatus"][clientId];
      $('label[data-device="'+message["clientId"]+'"]').text(status);
      console.log("Client event msg from Server : " + status);
      //- socket.emit("deviceStatus", "From Client : " + message);
    })